<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Search a carpark</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Region</mat-label>
      <mat-select>
        <mat-option value="">-</mat-option>
        <mat-option value="central">Central</mat-option>
        <mat-option value="east">East</mat-option>
        <mat-option value="west">West</mat-option>
        <mat-option value="north">North</mat-option>
        <mat-option value="northeast">North-East</mat-option>
      </mat-select>
    </mat-form-field> -->
    <mat-form-field>
      <mat-label>Region</mat-label>
      <mat-select
        [value]="selected"
        (selectionChange)="onRegionSelected($event.value)"
      >
        <mat-option *ngFor="let r of options" [value]="r.value">
          {{ r.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
